@tailwind base;
@tailwind components;

.input {
  @apply w-full
        p-3
        text-lg
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded-xl
        transition
        ease-in-out
        focus:text-gray-800 focus:bg-white focus:border-blue-600 focus:outline-none
        placeholder:text-gray-500;
}

.button {
  @apply py-3 px-6 my-3 rounded-full border-none text-white bg-blue-800 font-semibold;
}

@tailwind utilities;
